
@{
    ViewBag.Title = "Calendar";
}

<h2>Calendar</h2>

<p>Test</p>

<section class="event-card-section clearfix">
    <div class="event-card">
        <div class="event-card-content">
            <h2>Hamilton Bulldogs Hockey Game</h2>
            <h4>Date: Feb 27th, 2016</h4>
            <p>We will all be heading to the Hamilton Bulldogs game on January the 30th to see a game. See the website below... </p>
            <a href="http://www.hamiltonbulldogs.com/" class="btn">Check it out!</a>
        </div>
    </div>
</section>

