@{
    ViewBag.Title = "Fitbit Manage";
    ViewBag.BodyClass = "fitbit";
}
<section class="clearfix">
<div class="container"><div class="row">

<div class="col-md-12"><div class="form-group">
<h1>Update fitbit Information</h1>
<a href="https://www.fitbit.com/login"><h2>
<span style="background:url('/Content/assets/img/109d9919a44b792ebe64e520c3b57dc2.svg') no-repeat 0 0; background-size: cover; height:30px;width:116px;display:inline-block;"></span>
View your fitbit account for more in depth stats
</h2></a>
</div></div>

<div class="col-md-6">
<h2>Update Goal</h2>
@using (Html.BeginForm("updateGoalFitBit", "Fitbit"))
{@Html.AntiForgeryToken()
<div class="form-group">
<label>Update Goal: </label> @Html.TextBox("updateGoal", null, new { @class = "form-control", placeholder ="Set a new goal!"})
</div>
<div class="form-group">
<input type="submit" value="Update" class="btn btn-solid" />
</div>
}</div>

<div class="col-md-6"><h2>Add a new week entry</h2>
@using (Html.BeginForm("updateDateFitBit", "Fitbit"))
{@Html.AntiForgeryToken()
<div class="form-group">
<label>Start Date: </label> @Html.TextBox("dateStart", null, new { @class = "form-control",  @id = "datepicker", placeholder="Pick a start day"})
</div>

<div class="form-group">
<input type="submit" value="Select" class="btn btn-solid" />
</div>
}</div>

<div class="col-md-12">  
<div class="form-group back_to_list">
<h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to fitbit", "Index")</h4>
</div></div>

</div></div>            
</section>
