@{
    ViewBag.Title = "Index";
    
}

<section>
    <div class="container">
        <h2>User Management</h2>  

        <table class="table">
            <tr>
                <th>
                    Users
                </th>
            </tr>
                @foreach (MembershipUser user in Model)
                {
                <tr>
                    <td>
                        <%=user.UserName %>
                    </td>
                </tr>
            }
        </table>

</div>
</section>



