@model IEnumerable<HPSMVC.Models.RolesViewModel>
    @{
        ViewBag.Title = "Index";
    }
    <section>
        <div class="container">

            <h1>User Management</h1>
           
            @using (Html.BeginForm())
            {
                <p>
                    <a class="btn btn-solid" href="/User/Index">User List</a>
                    <a class="btn btn-solid" href="/User/Manage">Manage Users and Roles</a>
                </p>

            }

            <div class="table-overflow">
                <table class="table">
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Roles
                        </th>
                    </tr>

                    @foreach (var user in Model.ToList())
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @foreach (var role in user.RoleNames)
                                {
                                        <li>@role</li>
                                }
                            </td>
                        </tr>                    
                    }
                </table>

            </div>
</section>
