@model IEnumerable<HPSMVC.Models.RolesViewModel>
    @{
        ViewBag.Title = "Index";
    }
    <section>
        <div class="container">

            <h1>Account Management</h1>

            <h2>Hey, @(User.Identity.Name)!</h2>
            
            <h2>What can we help you with?</h2>
            <hr />
            @using (Html.BeginForm())
            {  
                
                <p style="color:red">
                    @TempData["ValidationMessage"]
                 </p>         
                
            <p>
                <a class="btn btn-solid" href="/User/Manage">Manage Users</a>
                <a class="btn btn-solid" href="/User/Manage">Manage Roles</a>
                <a class="btn btn-solid" href="/User/Index">Change Username</a>
                <a class="btn btn-solid" href="/Manage/ChangePassword">Change Password</a>
            </p>
            <hr />
            }
            @if(User.IsInRole("Admin"))
            {
            <div>
                <h2>User and Role List</h2>
                <table class="table">
                    <tr>
                        <th>
                            User Name
                        </th>
                        <th>
                            Roles
                        </th>
                    </tr>

                    @foreach (var user in Model.ToList())
                    {
                        <tr>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @foreach (var role in user.RoleNames)
                                {
                                        <li>@role</li>
                                }
                            </td>
                        </tr>                    
                    }
                </table>

            </div>
            }
</section>
