@{
ViewBag.Title = "ManageUserDelete";
}
<section>
<div class="container"><div class="row">
<div class="col-md-10 col-md-offset-1">

<h1 class="text-center">Delete User</h1>
<hr />

@using (Html.BeginForm("DeleteUser", "User"))
{<div class="col-md-10 col-md-offset-1">

@Html.AntiForgeryToken()
<div class="col-md-12">
<h2>Delete User</h2>
</div>

<div class="col-md-8">
<div class="form-group">
@Html.TextBox("UserName", null, new { @class = "form-control", @placeholder = "Username" })
</div></div>

<div class="col-md-4">
<div class="form-group">
<input type="submit" value="Delete" class="btn btn-solid" />
</div></div>

</div>
}

<div class="form-group back_to_list">
<div class="col-md-offset-1 col-md-10">
<h4><i class="fa fa-chevron-left"></i> @Html.ActionLink("Back to List", "ManageUser")</h4>
</div></div>

</div></div></div>
</section>
