@model IEnumerable<HPSMVC.Models.Program>

    @{
        ViewBag.Title = "Care";
        ViewBag.BodyClass = "care";
    }
    <div class="page-hero clearfix">
        <div class="hero-middle text-center">
            <h1>Our Care</h1>
            <h4>The Hamilton Program for Schizophrenia is a comprehensive community-based treatment and rehabilitation program. We are dedicated to helping people with schizophrenia through case management services, rehabilitation programs and psychiatric care.</h4>
        </div>
        <div class="hero-middle-filter"></div>
    </div>
    <section class="clearfix key-message">
        <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
            <div class="col-md-10 col-md-offset-1">
                <h1>Our Programs</h1>
                <p>Our monthly and weekly programs include art, cooking, and physical fitness. We place an emphasis on our clients embracing healthy living, improving their life skills and most importantly, having <span class="highlight"> fun</span>.</p>
            </div>
        </div>
    </section>
@foreach (var item in Model)
{
    <section class="clearfix text-photo-half">
        <div class="text-half clearfix">
            <div class="text-half-inner">
                <div class="col-xs-12 clearfix">
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                    <p>@Html.DisplayFor(modelItem => item.Content)</p>
                </div>
            </div>
        </div>
        <div class="photo-half">
            
            @if (item.fileContent != null && item.fileType.Contains("image"))
            {
                string imageBase64 = Convert.ToBase64String(item.fileContent);
                string imageSrc = string.Format("data:" + item.fileType + ";base64,{0}", imageBase64);
                <div class="photo-bg" style="background-image:url('@imageSrc')"></div>
            }
                    
        </div>
    </section>
}

    <section class="clearfix bg-purple">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="text-center">Case Management</h1>
                <h4 class="text-center">Every client develops an individual service plan with their case manager.</h4><br>


                <div class="col-md-6">
                    <p>The goal is to increase the client’s satisfaction and success in the areas of living, learning, work and social life. HPS case managers are experienced clinicians with professional training in the disciplines of nursing, occupational therapy, psychology and social work. </p>
                </div>
                <div class="col-md-6">
                    <p>The HPS team forms a therapeutic alliance with the client which becomes the basis for their personal growth, change and sustained hope in managing the challenges arising from schizophrenia.</p>

                </div>
            </div>
    </section>
    <section class="clearfix offgrey">
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center">Rehab and Treatment</h1>
            <p>Psychosocial Rehabilitation is an important part of recovery and is an essential feature of the Hamilton Program for Schizophrenia. We offer rehabilitation to clients through programs, as well as through living, learning, working, social and recreational activities. Our rehabilitation programs follow evidence-based practices; that is, we offer skill training that has been shown to be effective in increasing success in living in the community. Our groups have peer support workers who contribute as a part of the client-centred team. A wide range of interventions and social and recreational opportunities are offered and we encourage clients to participate in those areas which fit specific goals and learning needs.</p>
            <p>Schizophrenia is a serious medical disorder that affects 1% of the population. HPS psychiatrists prescribe medication treatments for the psychiatric symptoms associated with schizophrenia. In addition, we have developed support linkages with St. Joseph’s Healthcare, Centre for Mountain Health Services, laboratory services, pharmacies and family doctors. Working with the HPS staff, these community partners are an important part of providing our clients with essential psychiatric and medical care in the community. We work collaboratively with over 80 family physicians who assist with clients’ physical needs. HPS clients utilize community and hospital pharmacies to dispense their medications.</p>
            
        </div>
    </div>
</section>
    <section class=" clearfix bg-purple">
        <div class="container"><div class="row">
            <div class="col-md-6">
                <h1 class="">Referrals</h1>
                <p class="">To refer someone to one of the four Mental Health Intensive Case Management Programs in Hamilton:</p>
                <ul class="block-list no-style-list">
                    <li>Canadian Mental Health Association, Hamilton Branch</li>
                    <li>City of Hamilton Mental Health/Outreach Team* (Community Mental Health Promotion Program)</li>
                    <li>Hamilton Mental Health Outreach Program</li>
                    <li>Hamilton Program for Schizophrenia</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h1 class="text-left">Intac</h1>
                <p class="">Intensive Case Management Access Coordination:</p>
                <ul class="block-list no-style-list">
                    <li>21 King Street West, Suite 100</li>
                    <li>Hamilton, Ontario L8P 4W7</li>
                    <li>Telephone: <a href="tel:19055280683">(905)-528-0683</a></li>
                    <li>Fax: (905)-546-0055</li>
                    <li>Referral Hours: Monday to Friday 9:00am to 4:30pm</li>
                </ul>
            </div>
        </div></div>
    </section>

