@{
    ViewBag.Title = "Index";
}

<div class="page-hero clearfix">
    <div class="hero-middle text-center">
        <h1>About Us</h1>
        <h4>The Hamilton Program for Schizophrenia is a comprehensive community-based treatment and rehabilitation program. We are dedicated to helping people with schizophrenia through case management services, rehabilitation programs and psychiatric care.</h4>
    </div>
    <div class="hero-middle-filter"></div>
</div>
<section class="bg-purple clearfix">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">What We Do</h1>
        <p class="text-center col-md-10 col-md-offset-1">Our goal is to see each client actively pursuing a healthy and fulfilling life in the community. To this end, we provide support to individuals at home or work and in leisure activities. Situated in downtown Hamilton, we are easily accessible by public transportation.</p>
    </div>
    <!--<div class="col-md-6 col-sm-6 clearfix">
      <div class="gallery js-flickity"
        data-flickity-options='{ "lazyLoad": true, "wrapAround": true, "pageDots": false }'>
        <div class="gallery-cell">
          <img class="gallery-cell-image"
            data-flickity-lazyload="/assets/img/hpfs_photos/Cottage_Studio_Open_House_11Apr2014 (43).jpg" alt="cottage studio" />
        </div>
        <div class="gallery-cell">
          <img class="gallery-cell-image"
            data-flickity-lazyload="/assets/img/hero-photography.jpg" alt="photography" />
        </div>
        <div class="gallery-cell">
          <img class="gallery-cell-image"
            data-flickity-lazyload="/assets/img/hero-bus.jpg" alt="field trip" />
        </div>
        <div class="gallery-cell">
          <img class="gallery-cell-image"
            data-flickity-lazyload="/assets/img/hpfs_photos/volleyball 2012 037.jpg" alt="volleyball" />
        </div>
      </div>
    </div> -->
</section>
<section class="clearfix">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Research &amp; Education</h1>
        <h2>Partnering with the community</h2>
        <p>As a McMaster University Clinical Teaching Unit we offer learning experiences to nursing, occupational therapy, psychiatry, psychology and community college students.</p>
        <p>The Noon Hour Seminar Series at HPS provides learning opportunities for HPS staff and community mental health professionals.</p>
        <h2>Research Findings</h2>
        <ul class="col-md-6">
            <li>Studying the Connections between Schizophrenia, Boredom and other traits (in collaboration with York University)</li>
            <li>Research Studies examining EEGs and Shyness (in collaboration with McMaster University)</li>
            <li>Spirituality and Schizophrenia (in collaboration with McMaster University)</li>
        </ul>
        <ul class="col-md-6">
            <li>Finding the Light: Exploring Engulfment in Individuals with Schizophrenia (in collaboration with McMaster University and Ryerson University) St. Joseph’s Healthcare</li>
            <li>Improving the Definition of Schizophrenia with Memory Measures (in collaboration with York University)</li>
            <li>Understanding the Reasons for Smoking in People with Psychotic Disorders (in collaboration with C.A.M.H.)</li>
        </ul>
    </div>
</section>
<section class="clearfix bg-purple">
    <div class="col-md-8 col-md-offset-2">
        <h1 class="text-center ">HPS Family Association</h1>
        <h2>Our purpose</h2>
        <p>The HPS Family Association’s overall purpose is to enhance the quality of life for the HPS clients and their families. This is achieved by organizing a number of activities that are both educational and/or social in nature; it is recognised that participation from family members also acts as a support for the families.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h2>What we provide</h2>
        <p>The Family Association, through the generous donations of family members, is responsible for funding, organizing and implementing two major activities for the clients each year: a family/client Christmas Party and Summer Picnic/BBQ. These two activities continue to be very successful with upwards of 100 people attending each year. This is an opportunity to meet clients, other families and staff in a relaxed and informal social setting.</p>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h2>Donations</h2>
        <p>Should you wish to make a donation to the Family Association, please make the cheque payable to The HPS Family Association, such should be mailed or dropped off at the Hamilton Program for Schizophrenia.</p>
    </div>
</section>
<section class="clearfix comm-partnership">
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Community Partnerships</h1>
        <ul>
            <li>
                <a href="http://www.schizophrenia.on.ca/"><img src="/assets/img/logos/schizophreniasociety.png" alt="Schizophrenia Society of Ontario"></a>
            </li>
            <li>
                <a href="http://www.stjoes.ca/"><img src="/assets/img/logos/sjhh-125.png" alt="St. Joseph’s Healthcare Hamilton"></a>
            </li>
            <li>
                <a href="http://www.hamiltonhealthsciences.ca/"><img src="/assets/img/logos/hamhealthsciences.png" alt=""></a>
            </li>
            <li>
                <a href="http://www.sse.gov.on.ca/mohltc/ppao/en/default.aspx"><img src="/assets/img/logos/psychpatientadvocateoffice.png" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<section class="clearfix key-message key-message-purple">
    <div class="col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0">
        <p class="col-md-8">Support HPS and the HPS Family Association today by donating. Contact us to contribute to our continuing commitment to treatment.</p>
        <a href="" class="col-xs-12 col-md-4 btn btn-solid">Donate Now</a>
    </div>
</section>

